{% extends 'default_layout.phtml.twig' %}

{% block title %}Новини |  {{ categoryName }} {% endblock title %}

{% block center %}
  <div class="news-container">
        <h3>{{ categoryName }}</h3>
        {% for new in news %}
            <h4 class="new-title"><a href="/news/{{ new['alias'] }}/item/{{ new['id'] }}">{{ new['title'] }}</a></h4>
            <em>published: {{ new['published'] }}</em>
        {% endfor %}
    </div>
    	<div id="comments-loader" style="display:none;">
        <div class="loader"></div>
    </div>
    <div id="load">
		<div>Завантажити ще новин</div>
		<span id="page-counter">{{ page }}</span>
	</div>
{% endblock center %}