<div>
    {% for comment in comments %}
        <div class="comment-container">
            <div class="comment">{{ comment['message'] }}</div>
            <p>
                дата: <em class="comment-date">{{ comment['date'] }}</em> від: <em class="comment-user">{{ comment['user'] }} </em>
                сподобалось: <button class="btn-danger rating-down">-</button> <span class="comment-rating">{{ comment['rating'] }}</span>
                <button class="btn-info rating-up">+</button><span class="comment-id">{{ comment['id'] }}</span>
            </p>
        </div>
    {% endfor %}
</div>