{% extends 'default_layout.phtml.twig' %}

{% block title %}UA | News{% endblock title %}

{% block center %}
    <div align="center">
        <h3>Усі новини за вибраними фільтрами </h3><hr/>
        {% for new in news %}
            <h4 class="new-title"><a href="/news/{{ new['category_alias'] }}/item/{{ new['id'] }}">{{ new['title'] }}</a></h4>
            <em>published: {{ new['published'] }}</em>
        {% endfor %}
        <hr/>
        <!--PAGINATION-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% set prev = pagination.getPrev() %}
                {% set next = pagination.getNext() %}
                {% set buttons = pagination.getButtons() %}
                {% if prev.isActive() %}
                    <li><a href="/news/filters/page/{{ page - 1 }}?{{ query }}"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                {% endif %}

                {% if pagination.getButtonsCount() > 3 %}
                    <li {{ page == 1 ? 'class="active"' }}><a href="/news/filters/page/1?{{ query }}">1</a></li>
                    <li><a id="pagination-button" href="#">...</a></li>
                    {% for button in buttons %}
                        <li {{ page == button.getPage() ? 'class="active button faded"' : 'class="button faded"' }}><a href="/news/filters/page/{{ button.getPage() }}?{{ query }}">{{ button.getText() }}</a></li>
                    {% endfor %}
                    <li {{ page == pagination.getLastButton() ? 'class="active"' }}><a href="/news/filters/page/{{ pagination.getLastButton() }}?{{ query }}">{{ pagination.getLastButton() }}</a></li>
                {% else %}
                    {% for button in buttons %}
                        <li {{ page == button.getPage() ? 'class="active"' }}><a href="/news/filters/page/{{ button.getPage() }}?{{ query }}">{{ button.getText() }}</a></li>
                    {% endfor %}
                {% endif %}

                {% if next.isActive() %}
                    <li><a href="/news/filters/page/{{ page + 1 }}?{{ query }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
        <!--END Pagination-->
    </div>
{% endblock center %}