{% extends 'default_layout.phtml.twig' %}

{% block title %}Новини |  {{ categoryName }} {% endblock title %}
{% block script %}<script src="/webroot/js/readers-script.js"></script>{% endblock script %}

{% block center %}
        <h1>{{ new['title'] }}</h1>
        <hr>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img class="img-responsive" src="/webroot/upload/avatars/{{ new['id'] }}.jpg"></img>
                    </div>
                    <div class="col-md-9 col-sm-12 col-sm-12">
                        <p class="new-content">{{ new['content'] }}</p>
                        <em>published: {{ new['published'] }} /
                            розділ: <a href="/news/category/{{ new['alias'] }}/page">{{ new['category'] }}</a>
                        </em>
                        <div class="read-statistic">
                            <p>Зараз читають <span id="reading-now">0</span> чол.</p>
                            <p>Всього прочитано: <span id="total-read">0</span> разів</p>
                        </div>
                        <br/><br/>
                        <p>Теги: <a href="/news/filter-tag/page?tag={{ new['tag'] }}">{{ new['tag'] }}</a>
                            {% if new['analitic'] == 1 %}
                                <a href="/news/analitic/page/">аналітика</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            <hr>
        {% if session.get('user') %}
            {% include 'Site/comment-form.phtml.twig' %}
        {% endif %}
        <h4>Коментарі</h4>
    {% include 'News/comments.phtml.twig' %}
{% endblock center %}