<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}UA-NEWS{% endblock title %}</title>
        <link rel="stylesheet" href="/webroot/style/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webroot/style/css/style.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <script src="/webroot/js/lib/jquery-3.1.1.min.js"></script>
        <script src="/webroot/style/bootstrap/js/bootstrap.min.js"></script>
        <script src="/webroot/js/typeahead.js"></script>
        <script src="/webroot/js/main.js"></script>
        <!-- <script data-main="/webroot/js/main" src="/webroot/js/require.js"></script> -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

        {% block script %}{% endblock script %}
    </head>
    {% if config['allow_dropdown'] == 1 %}
        {% include  'Site/dropdown_header.phtml.twig' %}
    {% else %}
        {% include  'Site/header.phtml.twig' %}
    {% endif %}
    <body style="background-color:{{ config['content_background'] }} ">
        <b>{{ session.getFlash() }}</b><hr/>
        {% block extension %}{% endblock extension %}

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-2">
                    {% block left %}
                        <div class="adver-container">
                            {% for adver in advers['0'] %}
                                <div class="adver">
                                    <h3>{{ adver['service'] }}</h3>
                                    <p class="adver-price">{{ adver['price'] }}</p>
                                    <p class="adver-company">{{ adver['company'] }}</p>
                                    <div class="adver-sale {{ adver['side'] }}">
                                        <p>Купон на скидку -10%</p>
                                        <p>{{ adver['sale_product'] }}</p>
                                        <p>Отримайте скидку</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% block leftBlockExtension %}
                        {% endblock leftBlockExtension %}
                    {% endblock left %}
                </div>
                <div class="col-md-8" id="content_center">
                    {% block center %}
                        Default text
                    {% endblock center %}
                </div>
                <div class="col-md-2">
                    {% block right %}
                        <div class="adver-container">
                            {% for adver in advers['1'] %}
                                <div class="adver">
                                    <h3>{{ adver['service'] }}</h3>
                                    <p class="adver-price">{{ adver['price'] }}</p>
                                    <p class="adver-company">{{ adver['company'] }}</p>
                                    <div class="adver-sale {{ adver['side'] }}">
                                        <p>Купон на скидку -10%</p>
                                        <p>{{ adver['sale_product'] }}</p>
                                        <p>Отримайте скидку</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endblock right %}
                </div>
            </div>
        </div>
        {% block describe %}
            <div id="describe">
                <p>Бажаєте підписатися на розсилку новин?</p>
                <input type="email" placeholder="Введіть email"/><br/>
                <input type="text" placeholder="Введіть своє ім'я"/><br/>
                <input type="button" value="Так">
                <input type="button" value="Ні">
            </div>
        {% endblock describe %}
    </body>
    <footer>
        {% block footer %}{% endblock footer %}
        {% block footer_scripts %}{% endblock footer_scripts %}
    </footer>
</html>
