{% extends 'default_layout.phtml.twig' %}

{% block title %}Cart | {{ book.getTitle() }}{% endblock title %}

{% block body %}
    <h3>{{ book.getTitle() }}</h3>
    <hr>
    <i>Style: {{ book.getStyle(true) }}</i><br/>
    <p>Description:</p>
    <p>{{ book.getDescription() }}</p>
    <i>Price: {{ book.getPrice() }} UAH</i>
    <a href="/cart/delete-{{ book.Id() }}">Delete from Cart</a>
{% endblock body %}