{% extends 'default_layout.phtml.twig' %}

{% block title %}MVC | Cart{{ book.getTitle() }}{% endblock title %}

{% block body %}
    <h3>Books in Cart</h3>
    {% for book in books %}
        <hr>
        Id: {{ book.getIde() }}<br/>
        Title: <b>{{ book.getTitle() }}</b> <a href="/book-{{ book.getId() }}">Details</a>
            <a href="/cart/delete-{{ book.getId() }}">Delete from cart</a><br/>
        <i>Style: {{ book.getStyle() }}</i><br/>
   {% endfor %}
{% endblock body %}