
{% extends 'admin_layout.phtml.twig' %}

{% block title %}Редагування Новини{% endblock title %}

{% block body %}
    <div class="col-md-4 edit-form">
        <img class="img-responsive" src="/webroot/upload/avatars/{{ new['id'] }}.jpg"></img>
        <div class="form-group">
            <label for="book_cover">Завантажити нове фото (jpg only):</label>
            <input type="file" class="form-control" name="book_cover" id="book_cover" value=""/><br/>
        </div>
    </div>
    <div class="col-md-8 edit-form">
        <form class="row" action="" enctype="multipart/form-data" method="post">
            <div class="col-md-6 edit-form">
                <h3 class="book-title"></h3>

                <div class="form-group">
                    <label for="title">Заголовок Новини</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ new['title'] }}"/>
                </div>
                <div class="form-group">
                    <label for="content">Текст:</label>
                    <textarea class="form-control" name="content" id="content" rows="7" cols="50">{{ new['content'] }}</textarea>
                </div>

            </div>

            <div class="col-md-6 edit-form">
                <div class="form-group">
                    <label for="category">Категорія</label>
                    <select class="form-control" name="category" id="category">
                        {% for category in categories %}
                            {% set selected = new['category_id'] == category['id']? 'selected' %}
                            <option {{ selected }} value="{{ category['id'] }}">{{ category['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="tag">Теги(розділити комами)</label>
                    <input type="text" class="form-control" name="tag" id="tag" value="{{ new['tag'] }}"/>
                </div>
                <div class="form-group">
                    <label for="analitic">Додати до розділу аналітика?</label>
                    {%  set checked = new['analitic'] ? 'checked'%}
                    <input type="checkbox" {{ checked }} class="form-control" name="analitic" id="analitic" value="1"/>
                </div>
                <button type="submit" class="btn btn-info" style="float:right">Зберегти</button>
            </div>
        </form>
    </div>
{% endblock body %}